@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


body {
    margin: 0;
    background-color: #eee;
}

.even-smaller-text {
    font-size: 15px; /* Adjust the font size as needed */
}
.even-even-smaller-text {
    font-size: 12px; /* Adjust the font size as needed */
}
.ag-root {
    font-size:14px
}

.ag-row-odd {
    background-color: #eee !important;
    font-size: 14px !important;
}

.ag-row-even {
    font-size: 14px !important;
    
}

@media screen and (max-width: 800px) {
    .smaller-text {
        font-size: 11px; /* Adjust the font size as needed */
    }
    .even-smaller-text {
        font-size: 8px; /* Adjust the font size as needed */
    }
    .even-even-smaller-text {
        font-size: 8px; /* Adjust the font size as needed */
    }
    .ag-root {
        font-size:8px
    }
    .ag-row-odd {
        background-color: #eee !important;
        font-size: 8px !important;
    }
    .ag-row-even {
        font-size: 8px !important;
    }

}
.right-align {
    text-align: right;
}

.custom-button {
  background-color: white;
  border: 1px solid #ddd;
  color: black;
    
}

.custom-button:active {
  background-color: #ddd;
}



/* For responsiveness */
@media (max-width: 768px) {
    .custom-button {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
  .legendpoints path {
    transform: translate(15px, 0) scale(0.5);
  }
}
